<div class="jumbotron">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="login-head"><span class="fa fa-sign-in"></span> Add User</h1>
            <div class="alert alert-danger" ng-show="error">
                {{error}}
            </div>
        <!-- Add user FORM -->
        <form name="addUserForm" ng-submit="addUserSubmit(addUserForm.$valid)">
            <div class="form-group" ng-class="{ 'has-error' : addUserForm.email.$invalid && !addUserForm.email.$pristine }">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="addUser.email" name="email" required>
                <p ng-show="addUserForm.email.$invalid && !addUserForm.email.$pristine" class="help-block">Enter valid email address.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : addUserForm.password.$invalid && !addUserForm.password.$pristine }">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="addUser.password" name="password" ng-minlength="6" ng-maxlength="12" required>
                <p ng-show="addUserForm.password.$error.minlength" class="help-block">Password should not be less than 6 characters.</p>
                <p ng-show="addUserForm.password.$error.maxlength" class="help-block">Password should not be longer than 12 characters.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine }">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="addUser.name" name="name" required>
                <p ng-show="addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine" class="help-block">Your name is required.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine }">
                <label>Last name</label>
                <input type="text" class="form-control" ng-model="addUser.last_name" name="last_name" required>
                <p ng-show="addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine" class="help-block">You last name is required.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : addUserForm.profile_id.$invalid && !addUserForm.profile_id.$pristine }">
                <label>Profile</label>
                 <select class="form-control" ng-model="addUser.profile_id" ng-options="profile1.id as profile1.name for profile1 in profiles" name="profile_id" required>
                    <option value="">-- Select Profile --</option>
                 </select>
                <p ng-show="addUserForm.profile_id.$invalid && !addUserForm.profile_id.$pristine" class="help-block">You profile is required.</p>
            </div>
             <div class="form-group"  ng-class="{ 'has-error' : addUserForm.holding_id.$invalid && !addUserForm.holding_id.$pristine }">
                <label>Holding</label>
                <select class="form-control" ng-model="addUser.holding_id" ng-options="holding1.id as holding1.name for holding1 in holdings" name="holding_id" required>
                    <option value="">-- Select Holding --</option>
                </select>
                <p ng-show="addUserForm.holding_id.$invalid && !addUserForm.holding_id.$pristine" class="help-block">You holding name is required.</p>
            </div>
            <button type="submit" class="btn btn-warning btn-lg" ng-click="submitted=true">Add</button>
            <a class="btn" ng-click="cancelAddUser()">Cancel</a>
        </form>
    </div>
</div>