<div class="container" ng-controller="LoginCtrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <div class="alert alert-danger" ng-show="error">
            {{error}}
        </div>
        <!-- LOGIN FORM -->
        <form name="signInForm" ng-submit="submitSignInForm(signInForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : signInForm.email.$invalid && !signInForm.email.$pristine }">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="signIn.email" name="email" required>
                <p ng-show="signInForm.email.$invalid && !signInForm.email.$pristine" class="help-block">Enter valid email address.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signInForm.password.$invalid && !signInForm.password.$pristine }">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="signIn.password" name="password" ng-minlength="6" ng-maxlength="12" required>
                <p ng-show="signInForm.password.$error.minlength" class="help-block">Password should not be less than 6 characters.</p>
                <p ng-show="signInForm.password.$error.maxlength" class="help-block">Password should not be longer than 12 characters.</p>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="#/signup">Signup</a></p>
        <p>Or go <a href="#/">home</a>.</p>

    </div>

</div>