<div class="container" ng-controller="SignUpCtrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
       
        <!-- Signup FORM -->
        <form name="signUpForm" ng-submit="submitSignUpForm(signUpForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="signUp.email" name="email" required>
                <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">Enter valid email address.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="signUp.password" name="password" ng-minlength="6" ng-maxlength="12" required>
                <p ng-show="signUpForm.password.$error.minlength" class="help-block">Password should not be less than 6 characters.</p>
                <p ng-show="signUpForm.password.$error.maxlength" class="help-block">Password should not be longer than 12 characters.</p>
            </div>
           <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="#/login">Login</a></p>
        <p>Or go <a href="#/">home</a>.</p>

    </div>

</div>