<div class="container" ng-controller="SignUpCtrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
     

        <!-- LOGIN FORM -->
        <form name="signUpForm" ng-submit="signUpSubmit(signUpForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="signUp.email" name="email" required>
                <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">Enter valid email address.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="signUp.password" name="password" ng-minlength="6" ng-maxlength="12" required>
                <p ng-show="signUpForm.password.$error.minlength" class="help-block">Password should not be less than 6 characters.</p>
                <p ng-show="signUpForm.password.$error.maxlength" class="help-block">Password should not be longer than 12 characters.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signUpForm.first_name.$invalid && !signUpForm.first_name.$pristine }">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="signUp.first_name" name="first_name" required>
                <p ng-show="signUpForm.first_name.$invalid && !signUpForm.first_name.$pristine" class="help-block">Your name is required.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signUpForm.last_name.$invalid && !signUpForm.last_name.$pristine }">
                <label>Last name</label>
                <input type="text" class="form-control" ng-model="signUp.last_name" name="last_name" required>
                <p ng-show="signUpForm.last_name.$invalid && !signUpForm.last_name.$pristine" class="help-block">You last name is required.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : signUpForm.profile.$invalid && !signUpForm.profile.$pristine }">
                <label>Profile</label>
                 <select class="form-control" ng-model="signUp.profile" ng-options="profile1.id as profile1.name for profile1 in profiles" name="profile" required></select>
                <p ng-show="signUpForm.profile.$invalid && !signUpForm.profile.$pristine" class="help-block">You profile is required.</p>
            </div>
             <div class="form-group"  ng-class="{ 'has-error' : signUpForm.holding.$invalid && !signUpForm.holding.$pristine }">
                <label>Holding</label>
                <select class="form-control" ng-model="signUp.holding" ng-options="holding1.id as holding1.name for holding1 in holdings" name="holding" required></select>
                <p ng-show="signUpForm.holding.$invalid && !signUpForm.holding.$pristine" class="help-block">You holding name is required.</p>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="#/login">Login</a></p>
        <p>Or go <a href="#/">home</a>.</p>

    </div>

</div>