<div class="jumbotron">
	<h1 class="user-list-heading">User list</h1>
	Search: <input class="" ng-model="query">
    Sort by:
    <select ng-model="orderProp">
	  <option value=""> -- Select Sort By --</option>
      <option value="name">Name</option>
      <option value="last_name">Last name</option>
      <option value="email">Email</option>
      <option value="profile">Profile</option>
      <option value="holding">Holding</option>
    </select>
    <button class="btn btn-primary pull-right" ng-click="addUser()">Add User</button>
	<table class="table" style="margin-top:50px;">
		<thead>
			<tr>
				<th>Name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Profile</th>
				<th>Holding</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in userList | filter:query | orderBy:orderProp">
				<td><a href="#/edit-user/{{user.id}}">{{user.name}}</a></td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
				<td>{{user["profile.name"]}}</td>
				<td>{{user["holding.name"]}}</td>
				<td>
					<div ng-if="user.id != loggedInUserId">
    					<button class="btn btn-danger" ng-bootbox-confirm="Are you sure you want to delete this user?" ng-bootbox-confirm-action="deleteUser(user.id)" ng-bootbox-confirm-action-cancel="" >Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>